{% extends 'sga/layout/base_generic.html'%}
{% block content %}
<b></b>
	<h1>Crear Roles:</h1>
	
	<form action="" method="post">
		<label for="name_role">Nombre del rol:</label>
		<br>
		<input type="text" id="name_role" name="name_role" size="30">	
		<br>
		<label for="description_role">Descripcion del rol:</label>
		<br>
		<input type="text" id="description_role" name="description_role" size="30">	
		<br>
		<h3>Permisos:</h3>
		{% for permission in list_permissions %}
			<input type="checkbox" id="{{permission.id}}" name= "{{permission.name}}" value="{{permission.description}}">
			<label for="{{permission.id}}"> {{ permission.name }}</label><br>
		{% endfor %}
		<input type="submit" value="Guardar">
	</form>
	
{% endblock %}