{% extends 'sga/layout/base_generic.html'%}
{% load static %}
{% block head %}
  <script src="{% static 'sga/js/checkAll.js' %}"></script>
{% endblock %}

{% block content %}
<b></b>
	<h1>Importar Rol</h1>
	{% include 'utils/messages.html'%}
	<form  method="post" class="form row g-3">
		{% csrf_token %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col"><input type="checkbox" id="check-all"></th>
					<th scope="col">Rol</th>
					<th scope="col">Permisos</th>
				</tr>
			</thead>
			<tbody>
				{% for role in roles %}
				<tr>
					<td>
					<input type="checkbox" name="roles" value="{{role.role.id}}"
					{%if role.role.id in checked%} checked {%endif%}>
					</td>
					<td>{{ role.role.name }}</td>
					<td>
					{% for perm in role.permissions %}
						<p>{{ perm.name }}, </p>
					{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="submit" value="Guardar">
	</form>
{% endblock %}