{% extends 'sga/layout/base_generic.html'%} 
{% block content %}
  <h2>Roles</h2>
  <a href="{% url 'projects:create-role' project_id=project_id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Crear Rol
  </a>
  <a href="{% url 'projects:import-role1' project_id=project_id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Importar Rol
  </a>
  {% include 'utils/messages.html'%}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for role in roles %}
      <tr>
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <a href="{% url 'projects:edit-role' project_id=project_id role_id=role.id %}" class="btn">
            <span class="btn-label"><i class="fa fa-pencil"></i></span>
          </a>
          <a href="{% url 'projects:delete-role' project_id=project_id role_id=role.id %}" class="btn">
            <span class="btn-label"><i class="fa fa-trash"></i></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}