{% extends 'sga/layout/base_generic.html'%}
{% block content %}
  <h1>Tipos de Historia de Usuario</h1>
  <a href="{% url 'projects:user-story-type-create' project_id=project_id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Crear tipo de HU
  </a>
  <a href="{% url 'projects:user-story-type-import1' project_id=project_id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-file-import"></i></span>Importar tipos de HU
  </a>
  {% include 'utils/messages.html'%}
  <table class="table-custom">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Columnas</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr height="60px">
        <td>{{ object.name }}</td>
        <td>{{ object.columns }}</td>
        <td>
          <a href="{% url 'projects:user-story-type-edit' project_id=project_id id=object.id %}" class="btn" title="Editar tipo de Historia de Usuario">
            <span class="btn-label"><i class="fa fa-pencil"></i></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}