{% extends 'sga/layout/base_generic.html'%} 
{% block content %}

  <a href="{% url 'user-story-type-create' project_id=project_id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Crear tipo de HU
  </a>
  {% include 'utils/messages.html'%}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Columnas</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.columns }}</td>
        <td>
          <a href="{% url 'user-story-type-edit' project_id=project_id id=object.id %}" class="btn">
            <span class="btn-label"><i class="fa fa-pencil"></i></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}