{% extends 'sga/layout/base_generic.html'%}
{% block content %}
	{% include 'utils/messages.html' %}
	<h1>{{user_story.code }} - {{ user_story.title}}</h1>
	<p><strong>Descripción:</strong> {{user_story.description}}</p>
	<p><strong>Prioridad:</strong> {{user_story.sprint_priority}}</p>
	<p><strong>Valor de negocio:</strong> {{user_story.business_value}}</p>
	<p><strong>Prioridad técnica:</strong> {{user_story.technical_priority}}</p>
	<p><strong>Estimación en horas:</strong> {{user_story.estimation_time}}</p>
	<p><strong>Estado:</strong> {{user_story.status}}</p>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Comentarios</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Adjuntos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tareas</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      {% include 'backlog/detail_comments.html'%}
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      {% include 'backlog/detail_attachments.html'%}
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      {% include 'backlog/detail_tasks.html'%}
    </div>
  </div>
{% endblock %}

