{% if tasks %}
  <table class="table-custom">
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Horas Trabajadas</th>
        <th scope="col">Sprint</th>
        <th scope="col">Autor</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr height="60px">
        <td>{{ task.description }}</td>
        <td>{{ task.hours_worked }}</td>
        <td>{{ task.sprint.number }}</td>
        <td>{{ task.sprint_member.user.email }}</td>
        <td>{{ task.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">No hay tareas</li>
  </ul>
{% endif %}