<a href="{% url 'projects:comment-create' project_id=user_story.project.id us_id=user_story.id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Agregar Comentario
  </a>

  <table class="table-custom">
    <thead>
      <tr>
        <th scope="col">Comentario</th>
        <th scope="col">Autor</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
      <tr height="60px">
        <td>{{ comment.comment }}</td>
        <td>{{ comment.project_member.user.email }}</td>
        <td>{{ comment.created_at }}</td>
        <td><a
          href="{% url 'projects:comment-delete' project_id=project_id us_id=user_story.id comment_id=comment.id%}"
          class="btn"
          title="Eliminar archivo" ><i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
