{% extends 'sga/layout/base_generic.html'%}
{% block content %}
  <h1> Backlog del Proyecto</h1>
	<a href="{% url 'projects:project-backlog-create' project_id=project_id %}" class="btn btn-labeled btn-info">
		<span class="btn-label"><i class="fa fa-plus"></i></span>Crear US
	</a>
	<form method="post">
		{% csrf_token %}
		<label>Filtrar por tipo:</label>
		<select name="filtro" >
			<option value="empty">Todos</option>
			{% for user_story_type in user_story_types %}
			<option
				value="{{ user_story_type.id }}"
				{% if us_type_filter_id == user_story_type.id %}
					selected
				{% endif %}>
				{{ user_story_type.name }}
			</option>
			{% endfor %}
		</select>
		<input class="btn btn-info" type="submit" name="filtrar" value="filtrar">
	</form>
	{% include 'utils/messages.html' %}
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Codigo</th>
			<th scope="col">Titulo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Valor de negocio</th>
			<th scope="col">Prioridad Tecnica</th>
            <th scope="col">Tiempo Estimado (Hs)</th>
            <th scope="col">Tipo</th>
			<th scope="col">Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for user_story in user_stories %}
		<tr>
			<td>{{ user_story.code }}</td>
			<td>{{ user_story.title }}</td>
			<td>{{ user_story.description }}</td>
            	<td>{{ user_story.business_value }}</td>
			<td>{{ user_story.technical_priority }}</td>
			<td>{{ user_story.estimation_time }}</td>
            <td>{{ user_story.us_type.name }}</td>
			<td>
				<a href="{% url 'projects:project-backlog-edit' project_id=project_id us_id=user_story.id %}" class="btn">
				  <span class="btn-label"><i class="fa fa-pencil"></i></span>
				</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}