{% extends 'sga/layout/base_generic.html'%} 
{% block content %}
  <h1>Miembros del {{ sprint.name }}</h1>
  {% include 'utils/messages.html'%}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Carga horaria</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
      <tr>
        <td>{{ object.user.name }}</td>
        <td>{{ object.workload }}</td>
        <td>
          <a href="{% url 'projects:sprints:member-edit' project_id=project_id sprint_id=sprint.id sprint_member_id=object.id %}" class="btn">
						<span class="btn-label"><i class="fa fa-pencil"></i></span>
					</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}