{% extends 'sga/layout/base_generic.html'%}
{% block content %}
  <h1>Miembros del {{ sprint.name }}</h1>
  <a href="{% url 'projects:sprints:member-create' project_id=project_id sprint_id=sprint.id %}" class="btn btn-info">
		<span class="btn-label"><i class="fa fa-user-plus"></i></span>Agregar Miembro
	</a>
  {% include 'utils/messages.html'%}
  <table class="table-custom">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Carga horaria</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Capacidad asignada</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
      <tr height="60px">
        <td>{{ object.user.name }}</td>
        <td>{{ object.workload }}</td>
        <td>{{ object.capacity }}</td>
        <td>{{ object.used_capacity }}</td>
        <td>
          <a href="{% url 'projects:sprints:member-edit' project_id=project_id sprint_id=sprint.id sprint_member_id=object.id %}" class="btn" title="Editar miembro">
						<span class="btn-label"><i class="fa fa-pencil"></i></span>
					</a>
          <a href="{% url 'projects:sprints:member-switch' project_id=project_id sprint_id=sprint.id sprint_member_id=object.id %}" class="btn" title="Cambiar miembro">
						<span class="btn-label"><i class="fa fa-refresh"></i></span>
					</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}