{% extends 'sga/layout/base_generic.html'%}
{% block content %}
  <h1> Backlog del Sprint</h1>
	<a href="{% url 'projects:sprints:backlog-assign-us' project_id=project_id sprint_id=sprint_id %}" class="btn btn-labeled btn-info">
		<span class="btn-label"><i class="fa fa-plus"></i></span>Asignar US
	</a>
	{% include 'utils/messages.html' %}
	<table class="table-custom">
		<thead>
		<tr>
			<th scope="col">Codigo</th>
			<th scope="col">Titulo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Valor de negocio</th>
			<th scope="col">Prioridad Tecnica</th>
			<th scope="col">Tiempo Estimado (Hs)</th>
			<th scope="col">Prioridad para sprint</th>
			<th scope="col">Tipo</th>
			<th scope="col">Usuario Asignado</th>
			<th scope="col">Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for user_story in user_stories %}
		<tr height="60px">
			<td>{{ user_story.code }}</td>
			<td>{{ user_story.title }}</td>
			<td>{{ user_story.description }}</td>
            	<td>{{ user_story.business_value }}</td>
			<td>{{ user_story.technical_priority }}</td>
			<td>{{ user_story.estimation_time }}</td>
			<td>{{ user_story.sprint_priority }}</td>
            	<td>{{ user_story.us_type.name }}</td>
			<td>
				<a href="{% url 'projects:sprints:backlog-assign-member' project_id=project_id sprint_id=sprint_id user_story_id=user_story.id %}" class="btn-custom">
				<span class="btn-label">
					{% if user_story.sprint_member.user.name %}
						{{ user_story.sprint_member.user.name }}
					{% else %}
						Sin Asignar
					{% endif %}
				</span>
				</a>
			</td>
			<td>
				<form method="post" name="remove_us">
					{% csrf_token %}
					<input name="user_story_id" type="hidden" value="{{ user_story.id }}">
					<input type="submit" name="Quitar" value="Quitar">
					</a>
				</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}