{% extends 'sga/layout/base_generic.html'%}
{% block content %}
  <h1>Comentarios de Historia de Usuario</h1>
  <h3>Historia de Usuario: {{user_story.title}}</h3>
  <a href="{% url 'projects:sprints:backlog-comment-create' project_id=user_story.project.id sprint_id=user_story.sprint.id user_story_id=user_story.id %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Agregar Comentario
  </a>
  {% include 'utils/messages.html'%}
  <table class="table-custom">
    <thead>
      <tr>
        <th scope="col">Comentario</th>
        <th scope="col">Autor</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
      <tr height="60px">
        <td>{{ comment.comment }}</td>
        <td>{{ comment.project_member.user.email }}</td>
        <td>{{ comment.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}