{% extends 'sga/layout/base_generic.html'%}
{% block content %}
	{% include 'utils/messages.html' %}
	<h1>{{object.name}}</h1>
	<a href="{% url 'projects:sprints:member-list' project_id=project_id sprint_id=object.id %}" class="btn btn-labeled btn-info" role="button">
		<span class="btn-label"><i class="fa-solid fa-users"></i></span>Ver Miembros
	</a>
	</a>
	<a href="{% url 'projects:sprints:backlog' project_id=project_id sprint_id=object.id %}" class="btn btn-labeled btn-info" role="button">
		<span class="btn-label"><i class="fa-solid fa-layer-group"></i></i></i></span>Backlog
	</a>
	<p><strong>Capacidad:</strong> {{object.capacity}}</p>
	<p><strong>Fecha de inicio:</strong> {{object.start_date|date:"d/m/Y"}}</p>
	<p><strong>Fecha de fin:</strong> {{object.end_date|date:"d/m/Y"}}</p>
	<p><strong>Estado:</strong> {{object.get_status_display}}</p>
	{% if modify_sprint_status %}
	{% with button=object.get_status_button %}
		{% if button %}
			<form method="post">
			{% csrf_token %}
				<button type="submit" class="btn btn-primary">
					<span class="btn-label"><i class="{{ button.icon }}" aria-hidden="true"></i></span>
					{{ button.text }}
				</button>
			</form>
		{% endif %}
	{% endwith %}
	{% endif %}
{% endblock %}