{% extends 'sga/layout/base_generic.html'%}
{% block content %}

  {% if admin %}
    <a href="{% url 'projects:create' %}" class="btn btn-labeled btn-info">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Crear proyecto
    </a>
  {% endif %}
  {% include 'utils/messages.html'%}
  {% if projects %}
    <table class="table-custom">
      <thead>
        <tr>
          <th scope="col" style="width: 10%;">Nombre</th>
          <th scope="col" style="width: 10%;">Prefijo</th>
          <th scope="col" style="width: 15%;">Fecha inicio</th>
          <th scope="col" style="width: 15%;">Fecha fin</th>
          <th scope="col" style="width: 25%;">Estado</th>
          <th scope="col" style="width: 25%;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr height="60px">
          <td>
            <a href="{% url 'projects:project-detail' project_id=project.id %}" class="btn-custom">
              <i class="fa-solid fa-diagram-project"></i>&nbsp{{ project.name }}
            </a>
          </td>
          <td>{{ project.prefix }}</td>
          <td>{{ project.start_date|date:"d/m/Y" }}</td>
          <td>{{ project.end_date|date:"d/m/Y" }}</td>
          <td>{{ project.get_status_display }}</td>
          <td>
            {% comment %}
            <a class="btn">
              <span class="btn-label"><i class="fa fa-pencil"></i></span>
            </a>
            <a class="btn">
              <span class="btn-label"><i class="fa fa-trash"></i></span>
            </a>
            {% endcomment %}
            <a href="{% url 'projects:create-member' project_id=project.id %}" class="btn">
              <span class="btn-label"><i class="fa fa-user-plus"></i></span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% if admin %}
      <div>No existen proyectos</div>
    {% else %}
      <div>No tiene proyectos</div>
    {% endif %}
  {% endif %}
{% endblock %}