{% extends 'sga/layout/base_generic.html'%}
{% block content %}
  <h1>Proyecto {{object.name}}</h1>
  <div>
    <a href="{% url 'projects:user-story-type-list' project_id=object.id %}" class="btn btn-info" role="button">
      <span class="btn-label"><i class="fa-solid fa-book"></i></span>Ver tipos de historia de usuario
    </a>
    <a href="{% url 'projects:index-roles' project_id=object.id %}" class="btn btn-labeled btn-info" role="button">
      <span class="btn-label"><i class="fa-solid fa-shield-halved"></i></span>Ver Roles
    </a>
    <a href="{% url 'projects:project-members' project_id=object.id %}" class="btn btn-labeled btn-info" role="button">
      <span class="btn-label"><i class="fa-solid fa-users"></i></span>Ver Miembros
    </a>
    <a href="{% url 'projects:sprints:index' project_id=object.id %}" class="btn btn-labeled btn-info" role="button">
      <span class="btn-label"><i class="fa-solid fa-arrows-spin"></i></i></span>Ver Sprints
    </a>
    <a href="{% url 'projects:project-backlog' project_id=object.id %}" class="btn btn-labeled btn-info" role="button">
      <span class="btn-label"><i class="fa-solid fa-layer-group"></i></i></i></span>Backlog
    </a>
  </div>
  {% include 'utils/messages.html' %}
  <h2>Detalles</h2>
  <p><strong>Nombre:</strong> {{object.name}}</p>
  <p><strong>Descripción:</strong> {{object.description}}</p>
  <p><strong>Fecha de inicio:</strong> {{object.start_date|date:"d/m/Y"}}</p>
  <p><strong>Fecha de fin:</strong> {{object.end_date|date:"d/m/Y"}}</p>
  <p><strong>Estado:</strong> {{object.get_status_display}}</p>
  {% if object.status == "CREATED" and can_start_project %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">
        <span class="btn-label"><i class="fa-solid fa-rocket"></i></span>
        Iniciar proyecto
      </button>
    </form>
  {% endif %}
{% endblock %}