{% extends 'sga/layout/base_generic.html'%}
{% block content %}
	<h1>Miembros del proyecto</h1>
	<a href="{% url 'projects:create-member' project_id=project_id %}" class="btn btn-info" role="button">
		<span class="btn-label"><i class="fa fa-plus"></i></span>Agregar Miembro
	</a>
	{% include 'utils/messages.html' %}
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Apellido</th>
			<th scope="col">Nombre</th>
			<th scope="col">Correo</th>
			<th scope="col">Roles</th>
			<th scope="col">Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for member in members %}
		<tr>
			<td>{{ member.project_member.last_name }}</td>
			<td>{{ member.project_member.first_name }}</td>
			<td>{{ member.project_member.email }}</td>
			<td>
			{% for role in member.roles %}
				{% if forloop.last %}
					{{ role }}
				{% else %}
					{{ role }},
				{% endif %}
			{% endfor %}
			</td>
			<td>
				{% if not member.scrum_master %}
					<a href="{% url 'projects:project-member-edit' project_id=project_id member_id=member.project_member.id %}" class="btn">
						<span class="btn-label"><i class="fa fa-pencil"></i></span>
					</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}