{% extends 'sga/layout/base_generic.html'%}
{% block content %}
<h1> Velocity </h1>
<script>
	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			title: {
				text: "Velocity Chart"
			},
			axisX: {
				title: "Sprint"
			},
			axisY: {
				title: "Estimado",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: true
			},
			axisY2: {
				title: "Realizado",
				titleFontColor: "#C0504E",
				lineColor: "#C0504E",
				labelFontColor: "#C0504E",
				tickColor: "#C0504E",
				includeZero: true
			},
			toolTip: {
				shared: false
			},
			legend: {
				cursor: "pointer",
			},
			data: [{
				type: "column",
				name: "Estimado",
				showInLegend: true,
				dataPoints: [
					{ label: "Sprint 1", y: 19034.5 },
					{ label: "Sprint 2", y: 20015 },
					{ label: "Sprint 3", y: 25342 },
					{ label: "Sprint 4", y: 20088 },
					{ label: "Sprint 5", y: 28234 }
				]
			},
			{
				type: "column",
				name: "Realizado",
				axisYType: "secondary",
				showInLegend: true,
				dataPoints: [
					{ label: "Sprint 1", y: 210.5 },
					{ label: "Sprint 2", y: 135 },
					{ label: "Sprint 3", y: 425 },
					{ label: "Sprint 4", y: 130 },
					{ label: "Sprint 5", y: 528 }
				]
			}]
		});
		chart.render();
	}
</script>

<body>
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
{% endblock %}