{% extends 'sga/layout/base_generic.html'%}
{% block content %}
<h1> Velocity </h1>
<script>
	window.onload = function () {
		var estimated_hours_sprint = JSON.parse("{{estimated_hours_sprint|safe }}");
		var worked_hours_sprint = JSON.parse("{{worked_hours_sprint|safe }}");
		const sprint_labels = JSON.parse(document.getElementById("sprint_labels").textContent);

		const coords_estimated = sprint_labels.map((x, i) => ({ label:x, y: estimated_hours_sprint[i] }));
		const coords_worked = sprint_labels.map((x, i) => ({ label:x, y: worked_hours_sprint[i] }));

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			title: {
				text: "Velocity Chart"
			},
			axisX: {
				title: "Sprint"
			},
			axisY: {
				title: "Estimado",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: true
			},
			toolTip: {
				shared: false
			},
			legend: {
				cursor: "pointer",
			},
			data: [{
				type: "column",
				name: "Estimado",
				showInLegend: true,
				dataPoints: coords_estimated
			},
			{
				type: "column",
				name: "Realizado",
				showInLegend: true,
				dataPoints: coords_worked
			}]
		});
		chart.render();
	}
</script>

<body>
	{{sprint_labels|json_script:"sprint_labels"}}
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
{% endblock %}