{% load sga_extras %}

<div
  id="sidebar"
  class="d-flex flex-column flex-shrink-0 p-3 bg-light"
  style="width: 280px"
>
  <a
    href="{% url 'index' %}"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <svg class="bi pe-none" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">SGA</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'index' %}" class="nav-link {% if '/' == request.path%} active {%else%} link-dark {%endif%}" >
        <i class="fa-solid fa-house"></i>
        Home
      </a>
    </li>
    {% if user.is_verified %}
      <li>
        <a href="{% url 'projects:index' %}" class="nav-link {% if 'project' in request.path%} active {%else%} link-dark {%endif%}">
          <i class="fa-solid fa-diagram-project"></i>
          Proyectos
        </a>
        {% get_path_param request "project_id" as project_id %}
        {% if project_id %}
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="{% url 'projects:board:index' project_id=project_id%}"
                  class="nav-sub-link link-dark {% is_active request 'board'%}">
                  Tablero
                </a>
              </li>
              <li>
                <a href="{% url 'projects:user-story-type-list' project_id=project_id%}"
                  class="nav-sub-link link-dark {% is_active request 'user-story-type'%}">
                  Tipos Historia Usuario
                </a>
              </li>
              <li>
                <a href="{% url 'projects:index-roles' project_id=project_id%}"
                  class="nav-sub-link link-dark {% is_active request 'roles'%}">
                  Roles
                </a>
              </li>
              <li>
                <a href="{% url 'projects:project-members' project_id=project_id%}"
                  class="nav-sub-link link-dark {% is_active request 'projects/\d/members'%}">
                  Miembros
                </a>
              </li>
              <li>
                <a href="{% url 'projects:project-backlog' project_id=project_id%}"
                  class="nav-sub-link link-dark {% is_active request 'projects/\d/backlog'%}">
                  Product Backlog
                </a>
              </li>
              <li>
                <a href="{% url 'projects:sprints:index' project_id=project_id%}"
                  class="nav-sub-link link-dark {% is_active request 'sprints'%}">
                  Sprints
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      </li>
      {% if user.is_admin%}
        <li>
          <a href="{% url 'users:index' %}" class="nav-link {% if 'users' in request.path%} active {%else%} link-dark {%endif%}">
            <i class="fa-solid fa-circle-user"></i>
            Usuarios
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{% url 'notifications:index' %}" class="nav-link {% if 'notifications' in request.path%} active {%else%} link-dark {%endif%} nav-notification">
          <i class="fa-solid fa-bell">
          </i>
          {% if user.unread_notifications > 0 %}
            <span class="notification-badge badge bg-danger rounded-pill">{{ user.unread_notifications }}</span>
          {% endif %}
          Notificaciones
        </a>
      </li>
    {% endif %}
  </ul>
  {% if backpage %}
    <ul class="nav">
    <li>
      <a href="{{ backpage }}" class="nav-link link-dark">
        <i class="fa-solid fa-left-long"></i>
        Volver
      </a>
    </li>
  {% endif %}
</ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="{{user.picture}}"
        alt=""
        width="32"
        height="32"
        class="rounded-circle"
      />
      <strong>{{user.first_name}}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a class="dropdown-item" href="/accounts/logout">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</div>
