body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn.btn-google {
  color: #fff;
  background-color: #ea4335;
}

.btn.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}
.btn-login-link {
  text-decoration: none;
  color: inherit;
}