main {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.content{
  flex-grow: 1;
  padding: 0 1rem;
}
a.nav-link > i {
    margin-right: 0.5rem;
}

form > div.invalid-feedback {
  display: block !important;
}

div.alert {
  margin-top: var(--bs-alert-margin-bottom);
}

span.btn-label {
  margin-right: 0.3rem;
}