.main {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.content{
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 1rem;
}
a.nav-link > i {
    margin-right: 0.5rem;
}

form > div.invalid-feedback {
  display: block !important;
}

div.alert {
  margin-top: var(--bs-alert-margin-bottom);
}

span.btn-label {
  margin-right: 0.3rem;
}

.btn-custom {
  min-width: 100%;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 7px;
}

.btn-custom:hover {background-color: #e7e7e7;}

.table-custom{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-custom th{
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table-custom tr{
  /* height: 20%; */
  border-bottom: 1px solid rgb(212, 212, 212);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding-block: .1875rem;
  padding-left: .5rem;
  margin-top: .125rem;
  margin-left: 3.25rem;
  text-decoration: none;
}

.nav-sub-link.active {
  position: relative;
}
.nav-sub-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 80%;
  background-color: #0d6efd;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
