.main {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.content{
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 1rem;
}
a.nav-link > i {
    margin-right: 0.5rem;
}

a.nav-sub-link > i {
  margin-right: 0.3rem;
}

form > div.invalid-feedback {
  display: block !important;
}

div.alert {
  margin-top: var(--bs-alert-margin-bottom);
}

span.btn-label {
  margin-right: 0.3rem;
}

.btn-custom {
  min-width: 100%;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 7px;
}

.btn-custom:hover {background-color: #e7e7e7;}

.table-custom{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-custom th{
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table-custom tr{
  /* height: 20%; */
  border-bottom: 1px solid rgb(212, 212, 212);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding-block: .1875rem;
  padding-left: .5rem;
  margin-top: .125rem;
  margin-left: 3.25rem;
  text-decoration: none;
  align-items: center;
}

.nav-sub-link.active {
  position: relative;
}
.nav-sub-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 80%;
  background-color: #0d6efd;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

/* Kanban style*/

.kanban-item{
  display: flex;
  flex-direction: column;
}

.kanban-item-title {
  overflow-wrap: break-word;
  word-break: break-word;
}

.kanban-item-footer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-top: 0.5rem;
}

.kanban-item-code {
  font-size: 0.8rem;
  font-weight: 600;
  margin:0;
  cursor: pointer;
  text-decoration: none;
  color: #343636;
}
.kanban-item-code:hover {
  color: #343636;
}

.tab-pane{
  padding-top: 10px;
}
.nav-notification {
  position: relative;
}

.nav-link .notification-badge {
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: 0.7rem;
}

/* Notification style */
.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  border-bottom: 1px solid #e9e9e9;
  padding: .5rem 1rem 12px .5rem;
  width: 100%;
  height: 80px;
}

.notification.not-read {
  background: rgba(46,88,110,.06);
}
.notification:hover, .notification.not-read:hover {
  background: rgba(46,88,110,.12);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.notification-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.notification-relative-time {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  color: #343636;
}

.notification-content {
  font-size: 0.8rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.notification-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 0.8rem;
}

.cardproject {
  border-left: 20px solid #094bad;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 270px;
  height: 130px;
  padding: 25px;
  text-overflow: calc();
}

.cardproject:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
}

.boxflex {
  display: flex;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
}